<template>
  <div>
    <h1>Enter your books details</h1>
    <form>
      <md-field>
        <label>First Name</label>
        <md-input v-model="firstName"></md-input>
      </md-field>
      <md-field>
        <label>Last Name</label>
        <md-input v-model="lastName"></md-input>
      </md-field>
      <md-button>Save</md-button>
    </form>

    <md-card>
      <md-card-header>
        <md-card-header-text>
          Registration
        </md-card-header-text>
      </md-card-header>
      <md-card-content>
        Your name is {{firstName}} {{lastName}}
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
export default {
  name: "CreateBook",
  data: () => {
    return {
      firstName: "Stella",
      lastName: ""
    }
  }
}
</script>

<style scoped>

</style>
