<template>
  <div class="md-layout">
    <div class="md-layout-item"></div>
    <div class="md-layout-item">
      <CreateBook/>
    </div>
    <div class="md-layout-item"></div>
  </div>
</template>

<script>
import CreateBook from "@/components/CreateBook";

export default {
  name: 'App',
  components: {
    CreateBook
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
